
<div class="container">
  <h1>The Stupid Coach</h1>
</div>

<div class="box box-user">
  <div class="user-question">
    <h4 id="question">"<%= @question %>"</h4>
    <p>You</p>
  </div>
</div>

<div class="box box-coach">
  <div class="coach-answer">
    <h4>"<%= @answer %>"</h4>
    <p>Your coach</p>
  </div>
</div>
<div class="btn-container">
  <a id="form-btn" href="/ask">Ask your coach another question</a>
</div>