<div class="container">
  <form action="/answer">
    <input id="form-input" type="text" name="question" placeholder="Ask a question..">
    <input id="form-btn" type="submit" value="Ask!">
  </form>
</div>
